.card {
    box-shadow: 0 4px 8px 0 rgba(248, 248, 248, 0.2);
    text-align: center;
    font-family: arial;
    color: white;
    border-radius: 10px;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .wishlist {
    background-color: #04AA6D; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }
  .Addcart {
    background-color: #0473aa; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
.Cards{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 8%;
    justify-content: center;
    padding-top: 2%;
}
.card > img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}
